 <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
     <h2>商品編集</h2>
    <%= form_with model: @item, url: admin_item_path(@item), local: true, class: "xl:w-8/12 md:w-10/12"  do |f| %>
    <%= render "admin/shared/error_messages", resource: @item %>
    <div class="col-xs-5 col-xs-offset-2">
     <table class="new-form-table">
      <tbody>
       <tr>
        <th>商品画像</th>
        <td> <%= f.file_field :image, placeholder: "プロフィール画像", accept: "image/*" %>  </td>
       </tr>
       <tr>
        <th>商品名</th>
        <td><%= f.text_field :name, class: "form-control" %></td>
       </tr>
       <tr>
        <th>商品説明</th>
        <td><%= f.text_area :introduction, class: "form-control" %></td>
       </tr>
       <tr>
        <th>税抜価格</th>
        <td>  <%= f.text_field :price, class: "form-control" %></td>
       </tr>
      </tbody>
     </table>

     <div class="text-right">
      <%= f.submit "更新" ,class: "btn btn-primary text-right" %>
     </div>
    </div>
      <% end %>

    </div>
  </div>
</div>