<div class="container">
	<div class="row">
	<div class="col-lg-3">
		<h3>注文履歴一覧</h3>
	</div>
	</div>
	<div class="row">
	<div class="col-lg-offset-1 col-lg-10">
<table class="table">
<tr class="active">
	<th>購入日時</th>
	<th>購入者</th>
	<th>注文個数</th>
	
</tr>
<% @orders.each do |order| %>
<tr>
	<tr>
	    
        <td>
          <%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order), class: "text-dark" %>
        </td>
        
        <td>
          <%= order.customer&.last_name.to_s + order.customer&.first_name.to_s %>
        </td>
        
        <td>
          <%= order.order_details.sum(:amount) %>
        </td>
        
        <td>
          <%= order.status_i18n %>
        </td>
      </tr>
</tr>
<% end %>
</table>
</div>
<div class="col-lg-12">
	<%= paginate @orders %>
</div>
</div>
</div>