<% provide(:title, "商品詳細") %>
<% if flash[:notice] %>
	<div class="alert alert-info text-center">
			<%= flash[:notice] %>
	</div>
<% end %>
<div class="container">
 <div class="row">
  <div class="col-md-5">
   <%= image_tag @item.image, size: "300x300" %>
  
 <div class="col-lg-5">
  <p class="pull-left" style="font-weight: bold; margin-top:30px;"><%= @item.name %></p>
 </div>
<div class="col-lg-5">
 <p class="pull-left"><%= @item.introduction %></p>
</div>
<div class="col-lg-5">
 <p class="pull-left"><strong>¥ <%= (@item.price) %></strong>(税込)</p>
</div>

<%= form_with model: @cart_item, url: cart_items_path(@item), method: :post, local: true do |f| %>
  <%= f.label :amount, "個数選択" %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "カートに入れる", class: "btn btn-primary" %>
<% end %>
</div>

　<% if current_customer.already_favorited?(@item) %>
            <%= link_to item_favorites_path(@item), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
            <%= @item.favorites.count %>
          <% else %>
            <%= link_to item_favorites_path(@item), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
            <%= @item.favorites.count %>　
          <% end %>

<div>
  <p>コメント件数：<%= @item.post_comments.count %></p>
  <% @item.post_comments.each do |post_comment| %>
    <%= post_comment.customer.id %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.customer == current_customer %>
      <%= link_to "削除", item_post_comment_path(post_comment.item, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@item, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
</div>
</div>
