<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <script src="https://kit.fontawesome.com/a2b7a944cd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
 <body id="wrapper" style="background-color: white; font-family: HiraMinPro-W6; color: #000000;">
 
   
    <!-- ヘッダー -->
    <header class="<%= (admin_signed_in? ? "admin_header" : "" ) %>">
     <div class="header-content">
      <%= render "layouts/header" %>
     </div>
    </header>

    <!-- Body部分 -->
    <div class="container" style="margin-top: 100px; min-height: 360px;">
      <%= yield %>
    </div>

    
 
   
   


  
<footer>
 <div class="container mt-5">
  <div class="row">
   <div class="mx-auto">
    <p>Copyright © Infratop Inc. All Rights Reserved.</p>
   </div>
  </div>
 </div>
</footer>
</body>
</html>